<div class="page-title">
  <h4 *ngIf="isRoot; else title">Order</h4>
  <ng-template #title>
    <h4>
      <a routerLink="/orders">Order</a>
      <i class="material-icons">keyboard_arrow_right</i>
      Add product
    </h4>
  </ng-template>
  <button
   (click)="openModal()"
    class="waves-effect btn grey darken-1"
    [disabled]="orderService.list.length === 0"
    >
    Complete
  </button>
</div>
<router-outlet></router-outlet>

<form class="modal modal-fixed-footer" #modal>
  <div class="modal-content">
    <h4 class="mb1">Your order</h4>
    <table class="highlight">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Cost</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of orderService.list">
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.cost }}</td>
          <td><i class="material-icons pointer" (click)="onRemoveFromOrder(item)">delete</i></td>
        </tr>
      </tbody>
    </table>
    <div class="order-summary">
      <p>
        Total cost: <strong>{{ orderService.total }}</strong>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      (click)="closeModal()"
      [disabled]="isPending"
      class="modal-action waves-effect waves-black btn-flat"
    >
      Cancel
    </button>
    <button
      type="submit"
      (click)="submitModal()"
      class="modal-action btn waves-effect"
      [disabled]="orderService.list.length === 0 || isPending"
    >
      Confirm
    </button>
  </div>
</form>
