<table class="highlight">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Cost</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Coffee</td>
      <td>200 $</td>
      <td>
        <div class="input-field inline order-position-input">
          <input type="number" value="1" min="1" />
        </div>
      </td>
      <td>
        <button type="submit" class="btn waves-effect wavers-light btn-small">
          Add
        </button>
      </td>
    </tr>
  </tbody>
</table>
