@import "~materialize-css/dist/css/materialize.min.css";
@import "theme/styles.min.css";

html, body {
  height: 100%;
  margin: 0;
}

* {
  scroll-behavior: smooth;
}

main {
  min-height: 100%;
  margin-bottom: -250px;
}

main,
footer {
  margin-left: 0;
  height: 250px;
}
