<ul class="sidenav sidenav-fixed a-sidenav">
  <h4>AngularShop</h4>
  <li class="bold" routerLinkActive="active" *ngFor="let link of links">
    <a [routerLink]="[link.url]" class="waves-effect waves-orange">{{link.name}}</a>
  </li>
  <li class="bold last">
    <a href="#" (click)="logout($event)" class="waves-effect waves-orange">Logout</a>
  </li>
</ul>

<main class="content">
  <router-outlet></router-outlet>
</main>

<div class="fixed-action-btn" #floatBtn>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a routerLink="/orders" class="btn-floating green"><i class="material-icons">assignment</i></a>
    </li>
    <li>
      <a routerLink="/categories" class="btn-floating blue"><i class="material-icons">list</i></a>
    </li>
  </ul>
</div>
