<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/ui-components/cards">Accordion</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ui-components/progress">ProgressBar</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ui-components/rating">StarRating</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ui-components/slider">ThreeSlider</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ui-components/lightbox">Lightbox</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ui-components/range">Slider</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <app-star-rating [stars]="3.3"></app-star-rating> -->

<!-- <div class="container">
  <app-carousel [slides]="slides"></app-carousel>
</div> -->

<router-outlet></router-outlet>
